html{
	font-size: 9px;
}

a{
	color: #FFFFFF;
}

/* Хедер */

.header__container {
	background: #000000;
	margin: 0 auto;
}

.header__container-stiky{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 150px;
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
}

.header__logo, .footer__logo {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 3.6rem;
	line-height: 3.2rem;
}

.header__logo a:hover, .footer__logo a:hover{
color: rgb(236, 236, 139);
}

.header__nav {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 3.2rem;
}

.nav__list {
	display: flex;
}

.nav__list li{
	margin: 0 12px;
}

.nav__link{
	position: relative;
}

.nav__link:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #FFFFFF;
	transition: width 0.3s ease-out;
}

.nav__link:hover:after,
.nav__link:focus:after {
	width: 100%;
}

/* Контентна частина сайту */

/* Перша секція */

.section__first {
	background: #000000;
	height: 720px;
}

.section__first-container{
	display: flex;
	justify-content: space-evenly;
	max-width: 1200px;
	margin: 0 auto;
}

.section__first-text {
	margin-top: 180px;
	max-width: 517px;
	width: 50%;
}

.section__first-title {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 6.4rem;
	line-height: 7.2rem;
	color: #FFFFFF;
}

.dot{
	color: #FFBB00;
}

.section__first-paragraph {
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 2.4rem;
	line-height: 3.6rem;
	color: #B2B2B2;
	margin-top: 32px;
}

.section__first-btn {
	display: inline-block;
	background: #F6AD09;
	border-radius: 5px;
	padding: 18px 30px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 2.4rem;
	color: #332200;
	margin-top: 51px
}

.section__first-btn:hover{
	background: #c48b07;
	transition: 300ms;
}

.section__first-img-container{
	width: 50%;
	margin-top: 20px;
	margin-left: 45px;
}

.section__first-img {
	width: 100%;
	object-fit: cover;
}

/* Друга секція */

.section__second-title{
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 6.4rem;
	line-height: 7.2rem;
	color: #111111;
	margin: 120px 0 44px 0;
}

.section__second-title-container{
	width: 1200px;
	margin: 0 auto;
}

.section__second-card {
	margin: 0 20px;
}

.section__second-card-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.section__second-container{
	display: flex;
	justify-content: center;
}

.section__second-container img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.section__second-card-title {
	display: flex;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 3.2rem;
	line-height: 4rem;
	margin-top: 1.5rem;
	color: #111111;
}

.section__second-card-title::before{
	content: "";
	display: inline-block;
   height: 8px;
   width: 12px;
   margin-right: 8px;
   background: #F6AD09;
}

.section__second-card-title:hover:before{
	height: 8px;
   width: 25px;
	background: #F6AD09;
   transition: width 0.3s;
}

.section__second-card-paragramh {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 2.4rem;
	color: #595959;
	margin: 10px 0 0 20px;
}

/* Третя секція */

.section__third-container {
	background: #111111;
	display: flex;
	justify-content: space-around;
	height: 860px;
	margin-top: 270px;
	margin-bottom: 142px;
}

.section__third-wrap{
	display: flex;
}

.section__third-content{
	width: 50%;
	max-width: 530px;
	margin: 81px 45px 95px 90px;
}

.section__third-subtitle {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 3.2rem;
	letter-spacing: 0.015em;
	text-transform: uppercase;
	color: #B2B2B2;
}

.section__third-title {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 6.4rem;
	line-height: 7.2rem;
	color: #FFFFFF;
	margin: 19px 0 43px 0;
}

.section__third-paragraph {
	font-family: 'Roboto', sans-serif;
	font-size: 2.4rem;
	line-height: 3.6rem;
	color: #B2B2B2;
	margin-bottom: 28px;
}

.section__third-link {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	color: #FFBB00;
	border-bottom: 4px solid #FFBB00;
}

.section__third-link:hover{
	color: #FFFFFF;
	border-bottom: 4px solid #FFFFFF;
	transition: 300ms;
}

.section__third-contsecond {
	margin-top: 70px;
	display: flex;
}

.section__third-textblock:first-of-type {
margin-right: 43px;
}

.textblock-title {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 3.6rem;
	color: #FFFFFF;
	display: flex;
	align-items: center;
}

.textblock-title::before{
	content: "";
	display: inline-block;
   height: 8px;
   width: 12px;
   margin-right: 9px;
   background: #FFBB00;
}

.textblock-paragraph {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: #B2B2B2;
	margin-top: 16px;
}

.section__third-img-wrap{
	width: 45%;
}

.section__third-img {
	margin-top: -90px;
	margin-right: 38px;
	width: 100%;
}

/* Четверта секція */


.partners_box-header {
	margin-bottom: 2%;
}

.partners_tbl {
	margin: 3% 5%;
}

.partners_tbl-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.partners_tbl-row__bottom {
	display: flex;
}

.partners_box>.partners_tbl>.partners_tbl-row>img {
	width: 24%;
	overflow: hidden;
}

.section__fourth-title {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 6.4rem;
	line-height: 7.2rem;
	margin: 0 0 43px 0;
	width: 1200px;
	margin: 0 auto;
}


/* П'ята секція */

.section__fifth {
	margin-top: 108px;
	background:#FFBB00;
}

.section__fifth-container {
	display: flex;
}

.section__fifth-img-wraper{
	width: 50%;
}

.section__fifth-img{
	width: 100%;
	overflow: hidden;
}

.section__fifth-text {
	width: 50%;
	background-color: #FFBB00;
	position: relative;
	overflow: hidden;
}

.section__fifth-text-content{
	position: absolute;
	bottom: 8rem;
	left: 7rem;
	padding-left: 5rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
}


.section__fifth-paragraph {
	font-family: 'Merriweather', serif;
	font-style: italic;
	font-weight: 900;
	font-size: 3.6rem;
	line-height: 4.8rem;
	width: 55rem;
}


.section__fifth-paragraph::before{
	content: "";
	background-image: url('../img/before.png');
	width: 40px;
	height: 35px;
	position: absolute;
	left: 3px;
	top: -6%;
}

.section__fifth-paragraph::after{
	content: "";
	background-image: url('../img/after.png');
	width: 40px;
	height: 35px;
	position: absolute;
	right: 75px;
	bottom: 12%;
} 

.section__fifth-signature {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 2.4rem;
	line-height: 3.2rem;
	color: #664400;
	margin-top: 17px;
}

/* Шоста секція */

.section__sixth-container{
	background: #161616;
	padding-bottom: 138px;
}

.section__sixth-title-wrap{
	width: 1200px;
	margin: 0 auto;
}

.section__sixth-title{
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 6.4rem;
	line-height: 7.2rem;
	color: #FFFFFF;
	padding: 73px 0 36px 0;
}

.section__sixth-container-card {
	display: flex;
	justify-content: center;
	position: relative;
}

.section__sixth-card {
	background: #000000;
	border-radius: 7px;
	width: 456px;
	margin: 30px 20px;
}

.section__sixth-card:hover{
	transform: scale(1.3);
	transition: 1s;
}
.section__sixth-card:hover h4{
	color: #F6AD09;
	transition: 0.7s;
}

.section__sixth-catalog{
	display: flex;
	justify-content: space-between;
}

.section__sixth-card-title {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 3.6rem;
	line-height: 4.8rem;
	color: #9C9C9C;
	margin: 33px 0 19px 54px;
}

.section__sixth-card-prise h5 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 3.6rem;
	line-height: 4.8rem;
	color: #FFFFFF;
	margin-top: 34px;
	margin-right: 28px;
}

.section__sixth-card-prise p {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 1.6rem;
	color: #9C9C9C;
	text-align: end;
	margin-right: 33px;
	}

.card-items {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 2.4rem;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	margin: 9px 0 9px 33px;
}

.card-items::before{
	content: "";
	display: inline-block;
   height: 5px;
   width: 15px;
   margin-right: 6px;
   background: #FFBB00;
}

.card-link {
	display: inline-block;
	background: #2E2E2E;
	border-radius: 5px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 2.4rem;
	color: #CCCCCC;
	padding: 15px 28px;
	margin: 32px 0 35px 54px;
}

.card-link:hover{
	background: #FFBB00;
	color: #000000;
	transition: 500ms;
}

.card-list-first li {
	margin: 22px 0 22px 33px;
}

/* Футер сайту */

.footer{
	background: #000000;
	padding-bottom: 46px;
	margin: 0 auto;
}

.footer__container{
	max-width: 1000px;
	margin: 0 auto;
}

.footer__contant{
	padding-top: 56px;
	display: flex;
	justify-content: space-between;
}

.footer__contact h4, .footer__info h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 3.2rem;
	letter-spacing: 0.015em;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-top: 10px;
	margin-bottom: 31px;
}

.footer__contact li, .footer__contact a {
	font-family: 'Roboto', sans-serif;
	font-size: 1.8rem;
	line-height: 3.2rem;
	letter-spacing: 0.015em;
	color: #B2B2B2;
}

.footer__contact a:hover, .footer__info a:hover {
	color: #FFBB00;
	transition: 300ms;
}

.footer__info a {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 3.6rem;
	letter-spacing: 0.015em;
	color: #B2B2B2;
}

.footer__contact-address{
	margin-top: 30px;
}

.footer__soc {
	display: flex;
	justify-content: center;
	padding-right: 115px;
}

.footer__soc-items{
	margin: 20px 16px 57px 16px;
}

.footer__license{
	font-family: 'Roboto', sans-serif;
	font-size: 1.8rem;
	line-height: 3.2rem;
	letter-spacing: 0.015em;
	color: #9C9C9C;
}